{% extends "crm_jobs/base.html" %}
{% load custom_tags %}
{% block location %}
    Creating New Inspection
{% endblock %}
{% block sub %}
    <div class="sub-nav">
        <button class="main-btn">Actions</button>
        <div class="drop-menu">
            <a href="{% url "client-detail" form.initial.client.id %}">Cancel</a>
            <hr class="hr-sub-menu">
            <button form="inspection-form">Save Inspection</button>
        </div>
    </div>
{% endblock %}
{% block content %}
    <form method="post" id="inspection-form">
        {% csrf_token %}
                <table>
            <tr>
                <th colspan="2">Client Information</th>
            </tr>
            <tr>
                <th class="th-25">First Name</th>
                <td>{{ form.client.as_hidden }}{{ form.client.initial.first_name }}</td>
            </tr>
            <tr>
                <th>Last Name</th>
                <td>{{ form.client.initial.last_name|capfirst|if_none }}</td>
            </tr>
            <tr>
                <th>Status</th>
                {% if form.client.initial.status == "ACTIVE" %}
                    <td class="pos-bg">Active</td>
                {% else %}
                    <td class="neg-bg">Inactive</td>
                {% endif %}
            </tr>
        </table>
        <hr>
        <table>
            <tr>
                <th colspan="2">Inspection Information</th>
            </tr>
            <tr>
                <th class="th-25">Date</th>
                <td>{{ form.date }}</td>
            </tr>
            <tr>
                <th>Fee</th>
                <td>{{ form.fee }}</td>
            </tr>
            <tr>
                <th>Completed</th>
                <td>{{ form.completed }}</td>
            </tr>
            <tr>
                <th>Paid</th>
                <td>{{ form.paid }}</td>
            </tr>
        </table>
        <hr>
        <table>
            <tr>
                <th>Job Notes</th>
            </tr>
            <tr>
                <td>{{ form.notes }}</td>
            </tr>
        </table>
    </form>
{% endblock %}